#options {
	display: flex;
	justify-content: center
}

.dropdown {
	margin-left: 10px;
}

.start-btn {
	color: white;
	background-color: #199319;
	padding: 10px 15px;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	border-radius: 5px;
	box-shadow: 2px 1px 6px 1px rgba(0,0,0,0.24);
}

.start-btn:hover {
	display: inline-block;
	cursor: pointer;
	background-color: #223094;
	transform: translateY(1px);
}

.start-btn:active {
	display: inline-block;
	transform: translateY(2px);
}
